body {
    margin: 200px auto;
    width: 300px;
    height: auto;
}

.text {
    padding: 10px;
    background-color: #FFBC97;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #C2FFF9;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #71DFE7;
}

.profile {
    display: none;
}
